<div class="page-header">
  <h3>Action Step #<%= @action_step.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Descriptions</dt>
      <dd><%= @action_step.descriptions %></dd>

      <dt>Target dates</dt>
      <dd><%= @action_step.target_dates %></dd>

      <dt>Leader</dt>
      <dd><%= @action_step.leader %></dd>

      <dt>Necessary resources</dt>
      <dd><%= @action_step.necessary_resources %></dd>

      <dt>Implementation specifics</dt>
      <dd><%= @action_step.implementation_specifics %></dd>

      <dt>Measure of success</dt>
      <dd><%= @action_step.measure_of_success %></dd>

      <dt>Goal</dt>
      <dd>
        <% if @action_step.goal.present? %>
          <a href="/goals/<%= @action_step.goal_id %>">
            <%= @action_step.goal.improvement_plan_id %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/action_steps" class="btn btn-primary">
        Back
      </a>
      <a href="/action_steps/<%= @action_step.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_action_step/<%= @action_step.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Action step has many comments -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Comments
      </li>

      <% @action_step.comments.each do |comment| %>
        <li class="list-group-item">
          <a href="/comments/<%= comment.id %>">
            <%= comment.action_step_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/comments/<%= comment.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/comments/<%= comment.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_comment/<%= comment.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_comment" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for action_step_id -->
      <div class="form-group">
        <label for="action_step_id" class="control-label">
          Action step
        </label>

        <%= select_tag(:action_step_id, options_from_collection_for_select(ActionStep.all, :id, :descriptions), :class => "form-control") %>
      </div>

      <!-- Label and input for body -->
      <div class="form-group">
        <label for="body" class="control-label">
          Body
        </label>

        <textarea id="body" name="body" placeholder="Body" class="form-control" rows="3"></textarea>
      </div>

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <%= select_tag(:user_id, options_from_collection_for_select(Teacher.all, :id, :email), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Comment
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Action step has many users -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Users
      </li>

      <% @action_step.users.each do |teacher| %>
        <li class="list-group-item">
          <a href="/teachers/<%= teacher.id %>">
            <%= teacher.email %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/teachers/<%= teacher.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/teachers/<%= teacher.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_teacher/<%= teacher.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
