<div class="page-header">
  <h3>Action Step #<%= @action_step.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Descriptions</dt>
      <dd><%= @action_step.descriptions %></dd>

      <dt>Target dates</dt>
      <dd><%= @action_step.target_dates %></dd>

      <dt>Leader</dt>
      <dd><%= @action_step.leader %></dd>

      <dt>Necessary resources</dt>
      <dd><%= @action_step.necessary_resources %></dd>

      <dt>Implementation specifics</dt>
      <dd><%= @action_step.implementation_specifics %></dd>

      <dt>Measure of success</dt>
      <dd><%= @action_step.measure_of_success %></dd>

      <dt>Goal</dt>
      <dd><%= @action_step.goal_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/action_steps" class="btn btn-primary">
        Back
      </a>
      <a href="/action_steps/<%= @action_step.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_action_step/<%= @action_step.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Action step has many comments -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Comments
      </li>

      <% @action_step.comments.each do |comment| %>
        <li class="list-group-item">
          <a href="/comments/<%= comment.id %>">
            <%= comment.action_step_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/comments/<%= comment.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/comments/<%= comment.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_comment/<%= comment.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Action step has many users -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Users
      </li>

      <% @action_step.users.each do |teacher| %>
        <li class="list-group-item">
          <a href="/teachers/<%= teacher.id %>">
            <%= teacher.email %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/teachers/<%= teacher.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/teachers/<%= teacher.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_teacher/<%= teacher.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
